body {
	padding: 0;
	margin: 0;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f3cccc;
	width: 100%;
	height: 100%;
	text-align: center;
}

.block {
	display: block;
	font-size: calc(28px + 30 * ((100vw - 320px) / 780));
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 700;
	color: red;
}

.link {
	display: inline-block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-decoration: none;
	font-weight: 700;
	padding: 5px;
	background-color: white;
	color: #0004ff;
	border: 2px solid #0004ff;
}

@media (min-width: 750px) {
	.link:hover {
		background-color: #9993ee;
	}
}

.link:active {
	color: red;
	border: 2px solid red;
}
